.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding-bottom: 14px;
    padding-top: 14px;
    border-top-color: white;
 }